* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}
body {
    background-color: #424e85;
    color: white;

}
ul {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: black;
}
